{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>this is Omer Ben Yossef's Gallery.</p>

<div class="container">
    <h2> </h2>
    <p>These are some images of schools:</p>
    <table border="2">
        <tr>
            <td> <img src="/static/images/download.jpg" alt="Italian Trulli" width="150" height="150" /> </td>
            <td> <img src="/static/images/download (1).jpg" alt="Italian Trulli" width="150" height="150" /> </td>
            <td> <img src="/static/images/download(2).jpg" alt="Italian Trulli" width="150" height="150" /> </td>
        </tr>
        <tr>
            <td> <img src="/static/images/download(3).jpg" alt="Italian Trulli" width="150" height="150" /> </td>
            <td> <img src="/static/images/download(4).jpg" alt="Italian Trulli" width="150" height="150" /> </td>
            <td> <img src="https://video-images.vice.com/articles/5d44c9622980b0000824a7e3/lede/1564789576071-GettyImages-949118068.jpeg?crop=1xw%3A0.8419xh%3B0xw%2C0.1581xh&resize=2000%3A*" height="150" width="150"/></td>
            
        </tr>
     </table>
</div>


{% endblock %}


